workspace/n8n_workspace.json
{
  "name": "ai-trend-scout",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-300, 0],
      "id": "80a16a9d-190e-4b06-b413-1f2c4a8ea456",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search?tags=front_page",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [100, 180],
      "id": "8414a3f1-da8a-40d2-b2d7-469801d31ce1",
      "name": "hacker news api"
    },
    {
      "parameters": {
        "url": "https://gtrend.yapie.me/repositories?since=daily",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [100, 0],
      "id": "9eb78915-45de-4d9d-9b44-1e0c31b36191",
      "name": "github trending api",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/programming/top.json?t=day&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n-bot-trend-scout"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, -220],
      "id": "a18a7d4a-ed7f-4536-893b-03c1873a1ec5",
      "name": "reddit posts api"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/technology/top.json?t=day&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n-bot-trend-scout"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, -360],
      "id": "ad7ee2d3-cbfd-4094-8215-473144518a4c",
      "name": "reddit posts api1"
    },
    {
      "parameters": {
        "jsCode": "const posts = $json.data.children;\n\nreturn posts.map(post => {\n  const data = post.data;\n\n  return {\n    json: {\n      title: data.title,\n      url: `https://reddit.com${data.permalink}`,\n      upvotes: data.ups,\n      author: data.author,\n      subreddit: data.subreddit,\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, -280],
      "id": "670d196d-8d3d-496e-9aeb-b546e39bcca4",
      "name": "reddit posts"
    },
    {
      "parameters": {
        "jsCode": "const posts = $json.hits.slice(0, 10);\n\nreturn posts.map(post => ({\n  json: {\n    title: post.title || post.story_title || \"No title\",\n    url: post.url || post.story_url || `https://news.ycombinator.com/item?id=${post.objectID}`,\n    points: post.points || 0,\n    author: post.author || \"Unknown\",\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 180],
      "id": "d1a94e20-805f-4202-9d6c-02e92dc9ddd4",
      "name": "hacker news posts1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  title: $json.name,\n  description: $json.description || \"No description provided\",\n  stars: $json.stars,\n  language: $json.language || \"Unknown\",\n  author: $json.builtBy?.[0]?.username || \"Unknown\",\n  repoUrl: $json.url\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 0],
      "id": "8a4ce9d6-5a1e-40ab-afd5-997eb3404a0c",
      "name": "github posts"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos?part=snippet&chart=mostPopular&regionCode=US&videoCategoryId=28&maxResults=5&key=AIzaSyBsHAqHKDIcp7DAAC_LT9U1ExNKy4z6lZQ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [100, 420],
      "id": "9e5bcde8-33a1-4c44-ac3d-fb966e296904",
      "name": "Yt videos"
    },
    {
      "parameters": {
        "jsCode": "const videos = $json.items;\n\nreturn videos.map(video => {\n  const snippet = video.snippet;\n  const videoId = video.id.videoId;\n\n  return {\n    json: {\n      title: snippet.title,\n      url: `https://www.youtube.com/watch?v=${videoId}`,\n      channel: snippet.channelTitle,\n      description: snippet.description,\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 420],
      "id": "37d15f0f-e6c6-4710-ab54-2a355d533204",
      "name": "yt videos"
    },
    {
      "parameters": {
        "jsCode": "// Combine all incoming items from both feeds\nconst allPosts = items;\n\n// Sort by published date (newest first)\nallPosts.sort((a, b) => {\n  const dateA = new Date(a.json.date);\n  const dateB = new Date(b.json.date);\n  return dateB - dateA;\n});\n\n// Return top 5 posts\nreturn allPosts.slice(0, 5);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, -660],
      "id": "5fe037c0-23d4-4dfd-8c4d-0de0ab8d2f48",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "https://medium.com/feed/tag/ai",
        "options": {
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [80, -540],
      "id": "fb4a8948-f84a-4c90-b9c5-fc61ba5ce798",
      "name": "medium ai"
    },
    {
      "parameters": {
        "url": "https://medium.com/feed/tag/programming",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [80, -720],
      "id": "c537c929-1f71-43a3-96f5-fa3643166027",
      "name": "medium programming"
    },
    {
      "parameters": {
        "url": "https://dev.to/feed/tag/ai",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [60, 660],
      "id": "9652eba8-6846-4686-b857-bbd77c0d0e7d",
      "name": "dev.to AI"
    },
    {
      "parameters": {
        "url": "https://dev.to/feed/tag/programming",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [80, 840],
      "id": "da9f149e-0650-4d74-b431-fd4d489109cd",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "jsCode": "// Combine all incoming items from both feeds\nconst allPosts = items;\n\n// Sort by published date (newest first)\nallPosts.sort((a, b) => {\n  const dateA = new Date(a.json.date);\n  const dateB = new Date(b.json.date);\n  return dateB - dateA;\n});\n\n// Return top 5 posts\nreturn allPosts.slice(0, 5);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 740],
      "id": "56fa0c14-1cc7-4081-a514-2178a3742660",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "github trending api",
            "type": "main",
            "index": 0
          },
          {
            "node": "hacker news api",
            "type": "main",
            "index": 0
          },
          {
            "node": "reddit posts api",
            "type": "main",
            "index": 0
          },
          {
            "node": "reddit posts api1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Yt videos",
            "type": "main",
            "index": 0
          },
          {
            "node": "medium ai",
            "type": "main",
            "index": 0
          },
          {
            "node": "medium programming",
            "type": "main",
            "index": 0
          },
          {
            "node": "dev.to AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hacker news api": {
      "main": [
        [
          {
            "node": "hacker news posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github trending api": {
      "main": [
        [
          {
            "node": "github posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reddit posts api": {
      "main": [
        [
          {
            "node": "reddit posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reddit posts api1": {
      "main": [
        [
          {
            "node": "reddit posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github posts": {
      "main": [[]]
    },
    "Yt videos": {
      "main": [
        [
          {
            "node": "yt videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "medium ai": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "medium programming": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dev.to AI": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "868c958a-839d-4816-ba31-3f0ac4bf85f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50d7a6af96a39b615bbaffa2517e092b85710baccfb680139f67949990b9009b"
  },
  "id": "KROSqVzAqFEXImiF",
  "tags": []
}
